.home {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.home .welcome-text {
    margin-bottom: 20px;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

table {
    border-spacing: 15px;
}

table td {
    text-align: start;
}

table td:has(div) {
    width: 85%;
}

form button {
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

form button:hover {
    background-color: #45a049;
}